@use 'sass:math';
@import 'src/styles/colors';

$max-width-normal: 968px;

$color-primary: $sky-950;
$color-error: $rose-500;
$color-success: $emerald-500;

$bg-color-main: $sky-50;
$bg-color-block: white;
$bg-color-gray: $slate-200;

$text-color-primary: $slate-900;
$text-color-secondary: $slate-700;

$border-radius-xs: 4px;
$border-radius-sm: 6px;
$border-radius-md: 8px;

$font-size-base: 16px;
$font-size-xs: 0.77rem;
$font-size-sm: 0.87rem;
$font-size-md: 1rem;
$font-size-lg: 1.3rem;

$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;

$box-shadow-sm: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
$box-shadow-md: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
$box-shadow-lg: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;

$z-index-0: 0;
$z-index-1: 10;
$z-index-2: 100;
