@import 'src/styles/theme';

.edf-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.edf-list-empty-state {
    display: flex;
    width: 100%;
    height: 500px;
    justify-content: center;
    align-items: center;
    background-color: $bg-color-block;
    border-radius: $border-radius-sm;
    box-shadow: $box-shadow-lg;

    .text {
        font-size: 32px;
        font-weight: $font-weight-medium;
        color: $color-primary;
    }
}
